/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*
Color scheme:
http://colorschemedesigner.com/#5A422w0w0w0w0
 */

@bad: #A1000C;
@shaky: #FF8300;
@good: #1DD300;
@normal-lighter: #3AAACF;
@normal-darker: #216278;

html {
  background-color: #f9f9f9;
      font-family: 'Lato', HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 25px;
}

.log-entry {
  background-color: white;
  display: inline-block;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  max-width: 500px;

  .header {
    background-color: black;
    font-weight: 300;
    color: white;
    padding: 10px;
    font-size: 32px;
    line-height: 32px;
    position: relative;
    .ordinal {
      float: right;
      font-size: 20px;
      line-height: 32px;
      padding-left: 25px;
      font-family: 'Lato', HelveticaNeue-Medium, 'Helvetica Neue Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }

  .deliveries {
    padding: 15px 0 20px 30px;
    .delivery {
      display: inline-block;
      margin-right: 30px;
      margin-bottom: 15px;
      float: left;

      .address {
        font-size: 24px;
        color: #2d2d2d;
        padding-top: 4px;
        padding-bottom: 4px;
        font-family: 'Lato', HelveticaNeue-Medium, 'Helvetica Neue Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 400;
      }

      .status {
        display: inline-block;
        font-family: 'Lato', HelveticaNeue-Medium, 'Helvetica Neue Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 400;

        background-color: @normal-lighter;
        color: white;
        font-size: 13px;
        letter-spacing: 0px;
        width: 100%;
        span {
          display: inline-block;
          padding: 2px 8px 2px 4px;
        }
        &.good { background-color: @good; }
        &.bad  { background-color: @bad; }
        &.shaky { background-color: @shaky }
      }
      .message {
        font-size: 16px;
        font-family: Consolas;
      }
      .message.boolean { color: rgb( 190, 40, 40 ) }
      .message.number  { color: rgb( 150, 0, 150 ) }
      .message.string  { color: rgb( 50, 150, 80 ) }

    }
  }
}



.inspector-json {
  /* override */
  padding: 0;
  padding-top: 6px;
}